.Main-chat
  .Main-chat__group-info
    .Main-chat__group-info__left-box
      .Main-chat__group-info__left-box__group-name
        = @group.name
      .Main-chat__group-info__left-box__group-member
        Member : 
        - @members.each do |member|
          = member.name
    .Main-chat__group-info__right-box
      .Main-chat__group-info__right-box__edit
        .Main-chat__group-info__right-box__edit__num
          = link_to "Edit", edit_group_path(params[:group_id]),{ method: :get, class: "Editbutton"}
 
  .Main-chat__message-list
    = render @messages
    
  .Main-chat__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Main-chat__message-form__box
        = f.text_field :content, class: 'inputContent', placeholder: 'type a message'
        = f.label :image, class: 'inputImage' do
          = icon('fas', 'image', class: 'icons')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'
